<footer class="main-footer footer-type-1 text-xs">
    <div id="footer-tools" class="d-flex flex-column">
        <!-- 返回顶部 -->
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top"
           style="display: none;">
            <i class="iconfont icon-to-up"></i>
        </a>
        <!-- 返回顶部 end -->
        <!-- 天气  -->
        <div class="btn rounded-circle weather m-1">
            <div data-v-41ba7e2c="" id="he-plugin-simple" style="position: relative;">
                <script data-v-41ba7e2c="" type="text/javascript"
                        src="https://webapi.amap.com/maps?v=1.4.14&amp;key=e2b04289e870b005374ee030148d64fd"></script>
                <div data-v-41ba7e2c="" class="s-sticker"
                     style="font-size: 1.4em; cursor: pointer; padding: 7px 2px; background-color: transparent; border-radius: 5px;">
                    <div data-v-41ba7e2c="" style="width: 0px;"></div>
                    <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-tmp module"
                         style="font-size: 14px; color: rgb(136, 136, 136); vertical-align: middle;">7°C
                    </div>
                    <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-cond module"
                         style="vertical-align: middle;"><img data-v-7d48daab=""
                                                              src="https://cdn.heweather.com/img/plugin/190516/icon/c/104d.png"
                                                              style="width: 24px; height: 24px;"></div>
                    <div data-v-41ba7e2c="" style="width: 100%;"></div>
                </div>
                <div data-v-41ba7e2c="">
                    <!---->
                </div>
            </div>
            <script>WIDGET = { CONFIG: { "modules": "02", "background": 5, "tmpColor": "888", "tmpSize": 14, "cityColor": "888", "citySize": 14, "aqiSize": 14, "weatherIconSize": 24, "alertIconSize": 18, "padding": "7px 2px 7px 2px", "shadow": "1", "language": "auto", "borderRadius": 5, "fixed": "false", "vertical": "middle", "horizontal": "left", "key": "a922adf8928b4ac1ae7a31ae7375e191" } }</script>
            <script src="//widget.heweather.net/simple/static/js/he-simple-common.js?v=1.1"></script>
        </div>
        <!-- 天气 end -->
        <!-- 白夜间模式互换 -->
        <a href="javascript:" id="switch-mode" class="btn rounded-circle switch-dark-mode m-1"
           data-toggle="tooltip" data-placement="left" title="" data-original-title="夜间模式">
            <i class="mode-ico iconfont icon-night"></i>
        </a>
        <!-- 白夜间模式互换 end -->
    </div>
    <div class="footer-inner">
        <div class="footer-text">
            Copyright © 2021 导航系统 </a>
             </div>
    </div>
</footer>